<nav class="navbar navbar-static-top navbar-inverse" style="background: #5e81a8">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="">Simple Blog</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a *ngIf="authenticated" routerLink="create-post">Create post</a></li>
        <li><a routerLink="contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- Authentication Links -->
        <li *ngIf="!authenticated"><a routerLink="sign-in">Login</a>
        </li>
        <li *ngIf="!authenticated"><a routerLink="sign-up">Register</a>
        </li>
        <li *ngIf="authenticated">
            <a (click)="logout();$event.preventDefault()">Logout</a>
        </li>
    </ul>
    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</nav><!-- /.navbar -->


