<div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-9">
        <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
        </p>
        <div class="jumbotron" style="background-color:#fff">
            <h1>Hello, world!</h1>
            <p>Here will be introduction to my blog-site when i will be ready to write it :)</p>
            <p>For now, I just want to say that this is a <strong>single page application</strong> written with <strong>angular2 and express.js</strong></p>
            <p> link to code on <a href="https://bitbucket.org/andrew_skorohod/blogang2node">BITBUCKET</a></p>
            <p>By the way list of posts below</p>
        </div>
        <p *ngIf="error" class="bg-danger">{{ error }}</p>
        <div class="row">
            <!--here will be foreach posts-->
            <div class="col-xs-6 col-lg-4" *ngFor="let post of posts" id="post-detail">
                <h4>{{ post.title|slice:0:55 }}</h4>
                <p><a class="btn btn-default"
                    [routerLink]="['/showpost',post._id]" role="button">View details &raquo;</a></p>
            </div>
            <!--/.col-xs-6.col-lg-4-->
        </div>
        <!--/row-->
    </div>
    <!--/.col-xs-12.col-sm-9-->
    <!--/.sidebar-offcanvas-->
</div>

<!--/row-->