<h2>Edit post</h2>
<p *ngIf="error" class="bg-danger">{{ error }}</p>
<div *ngIf="post">
<form (ngSubmit)="updatePost()" [formGroup]="postForm">
    <div class="form-group">
        <label for="exampleInputEmail1">Title</label>
        <input type="text" class="form-control" formControlName="title" 
        value="{{ post.title }}">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Text</label>
        <textarea formControlName="text" class="form-control" rows="10" 
        value="{{ post.text }}"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>