<h2>Sign up</h2>
<form (ngSubmit)="register()" [formGroup]="userForm">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" formControlName="email">
        <div *ngIf="emailCtrl.dirty && !emailCtrl.valid">email is required
        </div>
    </div>
    <div formGroupName="passwordForm">
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" formControlName="password">
            <div *ngIf="passwordCtrl.dirty && !passwordCtrl.valid">Password is required min 6 chars</div>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password again</label>
            <input type="password" class="form-control" formControlName="passwordAgain">
            <div *ngIf="passwordAgainCtrl.dirty && !passwordAgainCtrl.valid">Password is required min 6 chars</div>
        </div>
        <div *ngIf="passwordForm.dirty && passwordForm.hasError('matchingError')">Your password does not match</div>
    </div>
    <button type="submit" class="btn btn-default" [disabled]="!userForm.valid">Submit</button>
</form>
<p *ngIf="error" class="bg-danger">{{ error }}</p>
