<h2>Create post</h2>

<form (ngSubmit)="createPost()" [formGroup]="postForm">
    <div class="form-group">
        <label for="exampleInputEmail1">Title</label>
        <input type="text" class="form-control" formControlName="title">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Text</label>
        <textarea formControlName="text" class="form-control" rows="10"></textarea>
    </div>
    <button type="submit" class="btn btn-default" [disabled]="!postForm.valid">Submit</button>
</form>
 <p *ngIf="error" class="bg-danger">{{ error }}</p>