<h2>Sign in</h2>
<form (ngSubmit)="login()" [formGroup]="userForm">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" formControlName="email">
        <div *ngIf="emailCtrl.dirty && !emailCtrl.valid">Password is required
        </div>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" formControlName="password">
        <div *ngIf="passwordCtrl.dirty && !passwordCtrl.valid">Password is required min 6 chars</div>
    </div>
    <button type="submit" class="btn btn-default" [disabled]="!userForm.valid">Submit</button>
</form>
<p *ngIf="error" class="bg-danger">{{ error }}</p>