<div class="row">
    <!-- Blog Post Content Column -->
    <p *ngIf="error" class="bg-danger">{{ error }}</p>
    <div class="col-lg-8" *ngIf="post" id="post-detail">
        <!-- Blog Post -->
        <!-- Title -->
        <h1>{{ post.title }}</h1>
        <!-- Author -->
        <p class="lead">
             Author will be here(BTW it's always me)
        </p>
        <button *ngIf="post.author_id == user._id" class="btn btn-warning"
        [routerLink]="['/editpost',post._id]" >Edit</button>
        <button *ngIf="post.author_id == user._id" class="btn btn-danger"(click) ="deletePost()">Delete </button>
        <!-- (click)="deletePost()"  temporary removed-->
        <hr>
        <!-- Date/Time -->
        <p><span class="glyphicon glyphicon-time"></span> 
            Posted {{ post.date |date}}
        </p>
        <!-- Post Content TODO make it html like -->
        <p *ngIf="text" class="lead" [innerHTML]="text"></p>
        <hr>
        <!-- Blog Comments -->


    </div>
    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4">
        <!-- Side Widget Well -->
        <div class="well" style="background:#fff">
            <h4>Here will be something about me.Maybe photo etc</h4>
            <p>
            Here will be description. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
        </div>
    </div>
</div>
<!-- /.row -->
<hr>
